.card{
    height: 21rem;
    width: 19rem;

    margin: 1rem;
}

.form{

    height: 75%;
    width: 40%;
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
   
    
}

.bg{
    background-color: #041936;
    
}

.bs{
    box-shadow: rgb(38, 38, 38) 0px 10px 25px !important;
}